<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>IRWeb</display-name>
  <servlet>
    <servlet-name>SearchHomePageServlet</servlet-name>
    <servlet-class>Servlet.Main</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProcessQueryServlet</servlet-name>
    <servlet-class>Servlet.ProcessQuery</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProcessImageQueryServlet</servlet-name>
    <servlet-class>Servlet.ProcessImageQuery</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>Servlet.Index</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ControllerServlet</servlet-name>
    <servlet-class>Servlet.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchHomePageServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcessQueryServlet</servlet-name>
    <url-pattern>/processquery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControllerServlet</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcessImageQueryServlet</servlet-name>
    <url-pattern>/processimagequery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
</web-app>